@page
@model web.netRazorPage.Pages.Personne.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>




<h4>Personne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Personne.age" class="control-label"></label>
                <input asp-for="Personne.age" class="form-control" />
                <span asp-validation-for="Personne.age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Personne.nom" class="control-label"></label>
                <input asp-for="Personne.nom" class="form-control" />
                <span asp-validation-for="Personne.nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Personne.prenom" class="control-label"></label>
                <input asp-for="Personne.prenom" class="form-control" />
                <span asp-validation-for="Personne.prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="imageUrl">Image:</label>
                <input asp-for="ImageFile" type="file" name="ImageFile" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
